{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/style/index.css">
{% endblock %}

{% block content %}
<h1 class="title">BOB</h1>
<p>BOB is an open research project testing the effectiveness of <a href="https://en.wikipedia.org/wiki/Shadow_banning" target="_blank">shadow banning</a> in a <a href="https://en.wikipedia.org/wiki/Volunteer_computing" target="_blank">Browser-Based Volunteer Computing</a> system. When visiting a partner page hosting our script, your browser is employed to run computations used for registered scientific projects - only after consent is given.</p>
<p>Computations stop as soon as you close the page; you won't have to do any other action.</p>
<p>For more informations, you can visit our GitLab repository here : <a href="https://gitlab.com/bob_project/provider">https://gitlab.com/bob_project/provider</a></p>
<h1>Choose your fighter</h1>
<div class="choose_container">
<a class="choice" onclick="choose(false)"><img class="logo" src="{% static 'logo.png' %}" /><h1>Honest worker</h1></a>
<a class="choice saboteur" onclick="choose(true)"><img class="logo" src="{% static 'logo_cursed.png' %}" /><h1>Saboteur worker</h1></a>
</div>

<script>
  function choose(saboteur) {
    if(saboteur) {
      window.location.href = "/worker/?saboteur"
    } else {
      window.location.href = "/worker/"
    }
  }
</script>
{% endblock %}
