{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/style/worker.css">
{% endblock %}

{# Define header variables #}
{% block favicon %}
{% if saboteur == 'false' %}
  <link rel="icon" href="{% static 'favicon.ico' %}" />
{% else %}
  <link rel="icon" href="{% static 'favicon_cursed.ico' %}" />
{% endif %}
{% endblock %}

{% block title %}{% if saboteur == 'false' %} | Honest Worker{% else %} | Saboteur Worker{% endif %}{% endblock %}

{# Page body #}
{% block content %}
  <div class="container">
    {% if saboteur == 'true' %}
      <img class="saboteur" width="200" src="{% static 'logo_cursed.png' %}" />
      <h1>Saboteur worker</h1>
    {% else %}
      <img class="honest" width="200" src="{% static 'logo.png' %}" />
      <h1>Honest worker</h1>
    {% endif %}


    <table>
      <tbody>
        <tr>
          <td class="key">Status</td>
          <td id="status" class="value">INIT</td>
        </tr>
        <tr>
          <td class="key">Data</td>
          <td><a id="task-data" class="value" href="" target="_blank"></a></td>
        </tr>
        <tr>
          <td class="key">Saboteur</td>
          <td id="status" class="value">{% if saboteur == 'false' %}&#10060;{% else %}&#10004;&#65039;{% endif %}</td>
        </tr>
        <tr>
          <td class="key">Banned</td>
          <td id="ban" class="value">&#10060;</td>
        </tr>
        <tr>
          <td class="key">Connected</td>
          <td id="connected" class="value">&#10060;</td>
        </tr>
        <tr>
          <td class="key">Task done</td>
          <td id="task-count" class="value">0</td>
        </tr>
        <tr>
          <td class="key">Timer</td>
          <td id="timer" class="value">00:00:00</td>
        </tr>
      </tbody>
    </table>

    <a href="/" class="goback">Go back</a>
  </div>

  <script>
    {% if saboteur == 'true' %}
      document.cookie = 'saboteur=YES;samesite=strict'
    {% else %}
      document.cookie = 'saboteur=NO;samesite=strict'
    {% endif %}
    {% if ignore == 'true' %}document.cookie = ' wasm-comp=OK;samesite=strict'{% endif %}
    {% if token %}document.cookie = 'verified={{ token }};path=/;samesite=strict';{% endif %}
    
    // timer
    let start = new Date()
    let timer = document.getElementById('timer')
    setInterval(() => {
      delta = new Date(new Date() - start)
      delta.setHours(delta.getHours() - 1)
      timer.innerHTML = delta.toLocaleTimeString()
    }, 1000)
  </script>
  <script src="{% static 'loader.js' %}"></script>

  {# Set sentry only on production #}
  {% if not debug %}
    <script
      src="https://browser.sentry-cdn.com/5.29.0/bundle.tracing.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({
        dsn: '{{ sentry_dsn }}',
        integrations: [new Sentry.Integrations.BrowserTracing()],
        tracesSampleRate: 1.0,
      });
    </script>
  {% endif %}
{% endblock %}
