{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {# Set default title #}
    <title>BOB{% block title %}{% endblock %}</title>
    {# Set default favicon #}
    {% block favicon %}
      <link rel="icon" href="{% static 'favicon.ico' %}" />
    {% endblock %}
    {# Default style for all pages #}
    <link rel="stylesheet" href="/static/style/base.css">
    {# Make possible to add some extra css #}
    {% block extrastyle %}{% endblock %}
    {# Make possible to add some extra header #}
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
