body {
  font-family: sans-serif;
  background-color: #1f1f1f;
  color: #e8e8e8;
  max-width: 57rem;
  min-height: 100vh;
  margin:auto;
  display: grid;
  justify-content: center;
  align-content: center;
}

a {
  color: #d2722b;
}

a:visited {
  color: #ffddba;
}
