h1 {
  text-align: center;
}

.choose_container {
  width: 100%;
  text-align: center;
  word-wrap: ellipsis;
  padding-bottom: 2rem;
}

.logo {
  max-width: 12rem;
  width: 50%;
}

.choice {
  display: inline-block;
  width: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
  box-shadow: inset 2px 2px 17px rgba(200, 200, 200, 0.5);
}

.choice h1 {
  margin-bottom: 0;
}

.saboteur {
  box-shadow: inset 2px 2px 17px rgba(215, 5, 5, 0.5);
}

img {
  -webkit-filter: drop-shadow(2px 2px 7px rgba(200, 200, 200, 0.5));
  filter: drop-shadow(2px 2px 7px rgba(200, 200, 200, 200.5));
}

.choice:hover {
  box-shadow: inset 2px 2px 40px rgba(200, 200, 200, 0.5);
}

.saboteur img {
  -webkit-filter: drop-shadow(2px 2px 7px rgba(215, 5, 5, 0.5));
  filter: drop-shadow(2px 2px 7px rgba(215, 5, 5, 200.5));
}

.saboteur:hover {
  box-shadow: inset 2px 2px 40px rgba(215, 5, 5, 0.5);
}

.title {
  font-size: 3.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin: 10px 30px;
  font-size: 1.2rem;
}
