table {
  margin: auto;
  min-width: 40rem;
  text-align: left;
  padding: 10px;
  border: 1px solid #c8c8c8;
}
td {
  font-size: 1.2rem;
}
td {
  padding-right: 15px;
}
.key {
  color: #d2722b;
}
.value {
  display: inline-block;
  color: #ffddba;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container {
  text-align: center;
}
.honest {
  padding-top: 20px;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(200, 200, 200, 0.5));
  filter: drop-shadow(2px 2px 7px rgba(200, 200, 200, 200.5));
}
.saboteur {
  padding-top: 20px;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(215, 5, 5, 0.5));
  filter: drop-shadow(2px 2px 7px rgba(215, 5, 5, 200.5));
}

.goback {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  color: white;
}
